main .d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 130px 50px 0 0;
}

.frame-1, .frame-2 {
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.frame-1 {
    border-right: 15px solid rgb(123,212,194);
    border-left: 15px solid rgb(123,212,194);
    transform: rotate(45deg);
}

.frame-2 {
    border-top: 15px solid rgb(123,212,194);
    border-bottom: 15px solid rgb(123,212,194);
    transform: rotate(45deg);
}

main img {
    border: 30px solid rgb(53, 53, 53);
    position: relative;
    transition: 1s;
}

main img:hover {
    transition: 1s;
    width: 480px;
    height: 480px;
}

main .title {
    margin: 0;
    margin-right: 250px;
    align-self: flex-start;
}

h2 {
    font-family: "Thinking";
    letter-spacing: 0.25em;
    font-size: 50px;
    margin: 0 0 50px 0;
    text-shadow: 5px 1px rgb(50,149,148);
    text-transform: uppercase;
}

h3, main ul#list {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-decoration: none;
}

h3 {
    font-size: 30px;
    margin: 20px 0 10px 0;
}

main ul#list{
    font-size: 20px;
    list-style: none;
    opacity: 0;
}

.main-img {
    position: relative;
}

/*---------*/

@media screen and (max-width: 600px) {
    main .d-flex {
        flex-direction: column;
        justify-content: space-evenly;
        margin: 26px 10px 0 0;
    }
    .main-img {
        margin:75px 20px;
    }
    main img {
        border: 15px solid rgb(53, 53, 53);
        max-width: 100%;
        height: auto;
    }
    h2 {
        font-size: 30px;
    }
    main img:hover {
        width: auto;
        height: auto;
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgb(123,212,194);
        z-index: 10;
        padding: 50px;
        box-sizing: border-box;
    }

    nav.open {
        display: flex;
    }

    nav.open ul {
        flex-direction: column;
    }

    .ham {
        position: relative; 
        z-index: 11;
    }
    nav.open ul li {
        padding: 20px;
    }

}

@font-face {
    font-family: "Thinking";
    src: url("fonts/Thinking.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}